<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title><% if (title) { %><%- title %><% } %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/kabu2.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/kabu.css">
</head>
<body>
<header>
		<div style="font-size:1.2em;"><% if (title) { %><%- title %><% } %></div>
		面倒な財務分析を発イチでビジュアライゼーション
		<img src="./images/icon_question_alt2.svg" id="explain"><img src="./images/icon_plus_alt2.svg" id="scrapeOne">
	</header>
